/* Kevin Reynolds For HoltonStreet.com*/
/*Red: #c50d09  Blue: #005195*/
/*-----------------------------------*/


html {

	min-height: 100%;
	outline: none;
}

body {


background: rgb(19,19,19); /* Old browsers */
background: -moz-linear-gradient(-45deg,  rgba(19,19,19,1) 0%, rgba(28,28,28,1) 9%, rgba(43,43,43,1) 39%, rgba(17,17,17,1) 67%, rgba(0,0,0,1) 85%, rgba(44,44,44,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,rgba(19,19,19,1)), color-stop(9%,rgba(28,28,28,1)), color-stop(39%,rgba(43,43,43,1)), color-stop(67%,rgba(17,17,17,1)), color-stop(85%,rgba(0,0,0,1)), color-stop(100%,rgba(44,44,44,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(-45deg,  rgba(19,19,19,1) 0%,rgba(28,28,28,1) 9%,rgba(43,43,43,1) 39%,rgba(17,17,17,1) 67%,rgba(0,0,0,1) 85%,rgba(44,44,44,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(-45deg,  rgba(19,19,19,1) 0%,rgba(28,28,28,1) 9%,rgba(43,43,43,1) 39%,rgba(17,17,17,1) 67%,rgba(0,0,0,1) 85%,rgba(44,44,44,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(-45deg,  rgba(19,19,19,1) 0%,rgba(28,28,28,1) 9%,rgba(43,43,43,1) 39%,rgba(17,17,17,1) 67%,rgba(0,0,0,1) 85%,rgba(44,44,44,1) 100%); /* IE10+ */
background: linear-gradient(135deg,  rgba(19,19,19,1) 0%,rgba(28,28,28,1) 9%,rgba(43,43,43,1) 39%,rgba(17,17,17,1) 67%,rgba(0,0,0,1) 85%,rgba(44,44,44,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#131313', endColorstr='#2c2c2c',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */


}

h1 {
	color: #c50d09;
}

h2:first-child {
	margin-top: 0;
}
 
h2 {
	margin-top: 25px;
	color: #c50d09;
}

h3 {
	color: #c50d09;
	margin-top: 0;
}

/*helper classes*/
.white {/*change color to white*/
	color: #fff;
}

.bottom {/*throw some margin on the bottom*/
	margin-bottom: 15px;
}

.span-margin { /* put some margin in that span */
	margin: 5px 5px 0 15px;
	width: 95%;
}	

.hide{
	display:none ;
}

/* Header / Logo */

.header {
	display: block;   
	margin-left: auto;   
	margin-right: auto;
	position: relative;
	top: -95px;	
}

.navbar h1 a{
	display:block;
	height:0;
}


.navbar h1 {
	height: 70px;
	width: 300px;
}



/*Nav Bar*/
.navbar {
	margin-bottom: 0;
	z-index: 1000;
	margin-top: 90px;
}

.btn-navbar {
	z-index: 1001;
	margin-bottom: 5px;
	position: relative;
}


/* Span 4 */
.span4 .bottom {
	margin: 10px 0 5px;
}

.span4 {
	margin-top: 15px;
	-webkit-border-radius: 10px;
    border-radius: 10px;
    padding-bottom:10px;
    color: #887;

}

.span4 h2, .span4 h3 {
	color: #c50d09;
}

/* Span 6, 8 , 12 defaults*/
.span6, .span8{
    padding-bottom:10px;
	margin-top: 15px;
	-webkit-border-radius: 5px;
    border-radius: 5px;
    color: #887;
    


}

/* Span 12*/

.span12 h1 { 
	width: 100%;

}


/* Home */

#home .span4 {

	position: relative;
	margin-top: 15px;
	-webkit-border-radius: 10px;
    border-radius: 10px;
    padding-bottom:10px;
    color: #887;
    
    background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,0.65) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,0.65))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=0 ); /* IE6-9 */

}


/*about*/
#about .span8 p, #about .span8 td{

}

#about td{
	color:#887;
}

/*Insurance*/
#insurance .span8 h3{
	color: #005195;
	margin: -15px 0 0 0;
	padding: 0;
}

#insurance ol > li {
	margin-bottom: 15px;
}

/*Testimonials */
#testimonials .span6 {
	min-height: 82px;
}

#testimonials h2:first-child {
	margin-top: 15px;
}

#testimonials h4 {
	color: #005195;
}

#testimonials .span6 {
    padding-bottom:10px;
	-webkit-border-radius: 5px;
    border-radius: 5px;
    color: #887;
    margin-left: 0;
    max-width: 555px;  
}

#testimonials img.ShadowPeople { 
	height: 81px;
	width: 81px;
	-webkit-border-radius: 5px;
    border-radius: 5px;
    background-color: #fff;	
    margin: 5px;
	
}

#testimonials {
	margin-left: 0;
}


article {
	margin-bottom: 25px;
}

/* WtABout */

#wtAbout .span4 ul {
	margin: 0;
}

#wtAbout .span4 li {
	list-style-type: none;
	margin: 0 5px 5px 0;
}


/* Wt Pattersn and portal 2 */
#wtPatterns .span12, #portal2 .span12
{
    padding-bottom:10px;
	-webkit-border-radius: 5px;
    border-radius: 5px;
    color: #887;
}

#wtPatterns .span12 h2 {
	margin: 5px 5px 0 15px;

}

#wtPatterns .span12 .patterns li {
	margin-left: 5px;
	min-height:260px;
	
}

#wtPatterns .span12 .patterns p {
	max-width: 200px;
}



/*Portal2*/
#portal2 .span3{
    padding: 0 0 10px 0px;
	-webkit-border-radius: 5px;
    border-radius: 5px;
}

#portal-pics {
	display: block;
	width: 100%;
	margin-bottom: 10px;
}

/*Hero Unit*/
.hero-unit {
	margin-top: 15px;
	margin-bottom: 0px;
	background-image: url(../img/herobg.jpg);
	background-color: #242424;
}

.hero-unit h1 {
	margin-top: -60px;
	margin-bottom:70px;
	text-shadow: 1px 1px 3px #ddd;
    filter: dropshadow(color=#ddd, offx=1, offy=1);
	color: #005195;
}

.hero-unit p {
	text-shadow: 1px 1px 7px #000;
	filter: dropshadow(color=#000, offx=1, offy=1);
	color: #fff;
	font-size: 20px;
}


/*Footer */
.navbar-static-bottom{
	margin-top: 15px;
	margin-bottom: 50px;
	clear:both;
}

/* tabs */
#tabs {
	margin-top: 5px;
	position: relative;
	z-index: 100;
}

#lightbox {
	position: absolute;
	top:0;
}

/*****/
.control-label {
	margin: 0px !important;
	padding: 0px !important;
}

/************* MEDIA QUERYS******************/
/* if screen is 1199 to 768 width use this*/
@media (max-width: 1199px) and (min-width: 768px) {

	#home .span4 {
		min-height: 399px;
	}
}

/* if screen less than 480 use this*/
@media (max-width: 480px) {

	.span4 {
		padding-right: 50px;
	}
	.span8 {
		padding-right: 50px;
		padding-top: 10px;
	}
	
	.hero-unit {
		background-repeat: no-repeat;
		background-position: -720px 0;
	}
	
	.hero-unit h1 {
		margin: 0;
		font-size: 45px;
	}
	
	.hero-unit p {
		font-size: 17px;
	}
		
}

@media (max-width: 768px) {

	#login {/*hide login button*/
		display: none;
	}
	
	a.btn.btn-navbar {
		padding: 15px;
	}
	

}


@media (min-width: 769px){

	#testimonials .span6 + .span6 {
		margin-left: 15px;
	}
}

/* Large desktop */
@media (min-width: 1200px) {

	#home .span4 {
		min-height: 355px;
	}
	
	#home .span4:first-child {
		margin-left: 30px;
	}
	

	.navsplit{
		margin-left: 450px !important;
	}

}

@media (min-width: 980px) {
 	
 	.hero-unit {
	 	background-position: 0 -20px;
	 	background-repeat: no-repeat;
 	}

	.span4 a.bottom { /*Buttons on homepage*/
		bottom: 20px;
		position: absolute;
	}
	
	#home .span4{ /*divs on homepage*/
		padding-right: 10px;
		margin-left: 10px;
	}	
	
	.navsplit {
		margin-left: 200px;
	}
	

}


